html, body, #root, .container {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}
.left-side ul {
  list-style-type: none;
  padding: 0;
}

.left-side ul li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc; /* Separation line */
}

.left-side ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.left-side ul li a span {
  margin-left: 10px; /* Space between icon and text */
}
.right-side {
  flex-grow: 1; /* Takes up remaining space */
  border-left: 1px solid #ccc; /* Line before 3/4th of the page */
  padding-left: 20px; /* Margin */
  display: flex; /* Use Flexbox */
  justify-content: center; /* Align content horizontally to the center */
  align-items: center; /* Align content vertically to the center */
}